@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;

    font-family: var(--ff-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

input:-webkit-autofill::first-line {
  font-size: 22rem;
}

:root {
  --primary-bg-color: #dcdddd;
  --dark-fg-color: #000000;
  --light-fg-color: #ffffff;
  --section-bg-color: #dcdddd;
  --nav-highlight-color: #ab96fb;
  --highlight-color: #a534e9;
  --heading-color: #47026a;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-850: 3rem;
  --fs-900: 4rem;

  --ff-primary : 'Roboto', sans-serif;
  --ff-body : var(--ff-primary);
  --ff-heading : 'Play', sans-serif;
}

header, .bottom-nav {
  color: var(--primary-bg-color);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8rem 1rem;
  z-index: 1;
}

.brand {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  cursor: default;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  padding: 0 0.5rem;
  font-size: var(--fs-500);
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: var(--nav-highlight-color);
  font-size: calc(var(--fs-500) + 2px);
}

section {
  max-width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(even) {
  background-color: var(--section-bg-color);
}

.main_banner {
  position: relative;
  height: 100vh;
  background-image: url(../images/balcony.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-850); 
  font-weight: var(--fw-normal);
  color: var(--heading-color);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-heading.in-view {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  justify-content: space-around;
}

.container > * {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
}

.img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: contain;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.img.in-view {
  opacity: 1;
  transform: translateY(0);
}

.desc {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.desc.in-view {
  opacity: 1;
  transform: translateY(0);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 0;
  display: none;
}

.bottom-nav-item {
  color: var(--section-bg-color);
  text-decoration: none;
  font-size: var(--fs-800);
}

.bottom-nav-item:hover, .bottom-nav-item:active {
  color: var(--nav-highlight-color);
}

.enquire-button {
  position: fixed;
  top: 50%;
  right: 0px;

  transform: translateY(-50%) rotate(180deg);
  padding: 1.2rem 0.8rem;

  font-weight: var(--fw-bold);
  writing-mode: vertical-lr;
  text-orientation: mixed;

  background-color: var(--highlight-color);
  color: var(--light-fg-color);
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.enquiry-form-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: opacity 0.1s ease-in-out;
}

.enquiry-form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--section-bg-color);
  border-radius: 30px;
}

.close-button {
	position: relative;
	width: 2.5em;
  aspect-ratio: 1;
	padding: 0;
  margin-left: auto;
	border: none;
	overflow: hidden;
	border-radius: 100%;
	background: transparent;
	color: #000;
	cursor: pointer;
}

.close-button:hover {
	background: rgba(0, 0, 0, 0.1);
}

.close-button:before,
.close-button:after {
	position: absolute;
	top: 15%;
	left: calc(50% - 0.0625em);
	width: 0.125em;
	height: 70%;
	border-radius: 0.125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: '';
}

.close-button:after {
	transform: rotate(-45deg);
}

.form-title {
  text-align: center;
  font-size: var(--fs-800);
  margin: 0.5rem auto;
}

.input-field {
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: var(--fs-500);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--dark-fg-color);  
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid var(--highlight-color);
}

.submit-button {
  width: 40%;
  margin: 1.2rem auto;
  padding: 0.5rem;
  font-size: var(--fs-500);
  color: var(--light-fg-color);
  background-color: var(--highlight-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .nav-item {
    display: none;
  }

  .bottom-nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .enquiry-form {
    width: 90%;
  }

  .input-field {
    margin: 0.6rem auto;
  }
}

@media (min-width: 768px) {
  .section-heading {
    font-size: var(--fs-900);
  }

  .container {
    flex-direction: row;
    text-align: left;
    column-gap: 10%;
  }
}